---
const { billede, catIconPath, kategori, titel, lokation, tid, by } =
	Astro.props;
import { Image } from 'astro:assets';
import PlusButton from './PlusButton.astro';
---

<article>
	<img src={billede} alt='' />
	<div class='cardInfo'>
		<div class='categoryContainer'>
			<Image src={catIconPath} alt='' height='32' width='32' />
			<p>{kategori}</p>
		</div>
		<h4 class='eventName'>{titel}</h4>
		<div class='container'>
			<md-icon>location_on</md-icon>
			<p>{lokation}</p>
		</div>
		<div class='container'>
			<md-icon>schedule</md-icon>
			<p>{tid}</p>
		</div>
		<p>{by}</p>
	</div>
	<div class='lastLine'>
		<md-filled-icon-button id='addToggle'>
			<md-icon>add</md-icon>
		</md-filled-icon-button>
	</div>
</article>

<style>
	article {
		display: flex;
		flex-direction: column;
		border-radius: 18px;
		background-color: var(--card-bg);
	}
	article img {
		border-radius: 18px 18px 0px 0px;
	}

	article h4 {
		font-size: 1.5rem;
		color: var(--heading-h4);
		font-family: 'Afacad Regular';
		text-align: center;
		padding: 0 1rem 0 1rem;
	}

	.lastLine {
		display: flex;
		width: 100%;
		padding-left: 0.5rem;
		justify-content: space-between;
		transform: translateY(-1rem);
	}

	.lastLine md-icon {
		color: var(--card-bg);
		--md-icon-size: 2rem;
	}

	.cardInfo {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;
		padding-top: 1rem;
		text-transform: uppercase;
	}

	.container {
		display: flex;
		align-items: center;
		width: 100%;
		padding-left: 30%;
		padding-right: 15%;
		gap: 0.5rem;
	}

	.categoryContainer {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		gap: 0.5rem;
	}

	.categoryContainer img {
		height: 2rem;
		width: auto;
	}

	.eventName {
		text-align: center;
	}

	@media (min-width: 800px) {
		article {
			flex-direction: row-reverse;
			padding-bottom: 0px;
			align-items: center;
			height: 21.875rem;
			width: 33.32013rem;
		}

		article img {
			border-radius: 0px 18px 18px 0px;
			width: 50%;
			height: 100%;
		}

		.cardInfo {
			width: 50%;
			height: 100%;
			transform: translateX(-2rem);
		}

		.lastLine {
			transform: translateY(9rem);
		}
	}
</style>
