---
import Card from './Card.astro';
import events from '../data/events.json';
---

<div class='wrapper'>
	{
		events.map((e) => (
			<Card
				eventId={e.eventId}
				billede={e.billede}
				catIconPath={e.catIconPath}
				kategori={e.kategori}
				titel={e.titel}
				lokation={e.lokation}
				tid={e.tid}
				by={e.by}
			/>
		))
	}
</div>

<style>
	.wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 90vw;
		margin: auto;
		gap: 55px;
	}

	@media (min-width: 800px) {
		.wrapper {
			flex-direction: row;
			flex-wrap: wrap;
			width: 100vw;
		}
	}
</style>
